{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>

    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

</head>
<body>
    <nav>
        <ul class="nav-links">
            <li class="dropdown">
                
            </li> 
            <li class="dropdown profile-icon">
                <a href="#" class="dropbtn">

        <ul class="nav-links">
            <li class="dropdown">
                <a href="#" class="dropbtn"><img src="logo.png" alt="Logo" class="logo"></a>
                <div class="dropdown-content">
                    <a href="edit_profile.html">Edit Profile</a>
                    <a href="change password.html">Change Password</a>
                    <a href="login.html">Login</a>
                    <a href="logout.html">Logout</a>
                </div>
            </li>
        </ul>
    </nav>    
<div class="container">

    <h2>Edit profile</h2>
    <div class="form-container">

        <form>

            <div class="input-name">
                <i class="fa fa-user lock"></i>
                <input type="text" placeholder="User Name" class="text-name">        
            </div>

            <div class="input-name">
                <i class="fa fa-user lock"></i>
                <input type="text" placeholder="First Name" class="name">
            </div>
            
            <div class="input-name">
            
                <i class="fa fa-user lock"></i>
                <input type="text" placeholder="Last Name" class="name">
            
            </div>

        
            <div class="input-name">
                <i class="fa fa-envelope-o" ></i>
                <input type="text" placeholder="Email" class="text-name">        
            </div>
        
            <div class="input-name">
                <i class="fa fa-unlock-alt"></i>
                <input type="text" placeholder="Password" class="text-name">        
            </div>

            <div class="input-name">
                <i class="fa fa-unlock-alt"></i>
                <input type="text" placeholder="Confirm Password" class="text-name">
            </div>
        
            <div class="input-name">
                <input type="radio" class="radio-button" name="r1">
                <label>Male</label>
                <input type="radio" class="radio-button" name="r1">
                <label>Female</label>       
            </div>
              
            <div class="input-name">
                <select class="Country">
                    <option>Select a country</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Srilanka</option>
                    <option>Japan</option>
                    <option>Nepal</option>
                    <option>Bangladesh</option>      
                </select>
                <!-- <div class="arrow"></div> -->
            </div>
        
            <div class="input-name">
                <input type="checkbox" class="check-button">
                <label>I accept the terms and conditions</label>
            </div>
        
            <div class="input-name">
                <input type="submit" class="button" value="update">                
            </div>
        </form>

    </div>

</div>
</body>
</html>