{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form>
                <div class="input-group">
                    <input type="text" id="email" name="email" placeholder="Email or Phone">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="button-group">
                    <button type="submit">Login</button>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgotten password?</a>
                </div>
                <div class="create-account">
                    <a href="#">Create New Account</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>