<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <br><br>
            <label for="un">User_Name</label>
            <input type="text" name="un" id="un"><br><br>
            
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="Login">
        </form>
</center>
</body>
</html>