
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #e3e1e1;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 7px;
    width: 100%;
}

/* Container styles */
.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:  #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
nav {
    background-color: #333;
    padding: 7px;
    width: 100%;
}

.nav-links {
    list-style-type: none;
    justify-content: space-between; /* Align items evenly */
    margin-right: 20px;
    display: flex;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #4d0ade;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Container styles */
.container {
    width: 400px;
    margin: 50px auto;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}

.profile-icon {
    margin-right: auto;
}
.user-icon {
    height: 20px; /* Adjust the user profile icon height as needed */
    border-radius: 20%; 
    margin-right: auto;/

}

.image{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}