
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #e3e1e1;
}
 .container {
    width: 40%;
    margin: 0 auto;
}
.profile-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;

}

h2 {

    text-align: center;
}
.profile-info {
    margin-bottom: 10px;

}
.profile-image{
    display: right;

}
.profile-info label {
    font-weight: bold;

}
.profile-info .user-name {
    color:greenyellow;

}
.profile-actions {
    margin-top: 20px;
    text-align: center;

}
.profile-actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
}
nav {
    background-color: #333;
    padding: 7px;
    width: 100%;
}

.nav-links {
    list-style-type: none;
    justify-content: space-between;
    margin-right: 30px;
    display: flex; 

}
 
.nav-links li {
    margin: 0;

}
.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;  

}
.nav-links a:hover {
    background-color: #555;

}
/* Dropdown styles */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;  

}

.dropdown-content a:hover {
    background-color: #4d0ade;

}

.dropdown:hover .dropdown-content {
    display: block;
    margin:right ;
}
/* Container styles */
.container {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;

}
.profile-icon {
    margin-right: left;
}
.user-icon {
    height: 20px; 
    border-radius: 20%;
    margin-right: auto;/
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    text-align: left;
    
}

.image{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.button {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}












