
{% load static %}
{% block title %}
    <title>editchannel</title>
    <link rel="stylesheet" href="{% static 'css/editchannel.css' %}">
{% endblock %}

{% block content %}
    <nav class="top-fixed">
        <h3>Edit Channel</h3>
        <a href=""><input type="submit" value="Save"></a>
    </nav>
    <div class="container">
        <form>
            <label class="name" for="name">Name</label><br>
            <input type="text" name="name" id="name" placeholder="Enter New Channel Name..."><br>
            
        </form>
    </div>
    
{% endblock %}