{% comment %} !DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <center>
        <h1>create product</h1>
    
    </center>
    <body>
       <center>
        <form action="" method="POST">
            {% csrf_token %}
        {{form}}
        <br><br>
            <input type="submit" value="create">
        </form>
       </center>
        
    </body>
    </html> {% endcomment %}