<{% extends 'base.html' %}                         
{% block title %}
<title>Product list</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: pink;
            margin: 0;
            padding: 10px;
        }
        h1 {
            text-align: center;
            margin-bottom: 5px;
            color: brown;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        li {
            width: calc(25.33% - 20px);
            margin-bottom: 10px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(217, 228, 220, 0.1);
            overflow: hidden;
        }
        .card {
            width: 100%;
        }
        .card-img-top {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            padding: 8px;
        }
        .card-title {
            margin: 10;
            color: blue;
        }
        .card-text {
            margin: 10px 0;
            color: black;
        }
        .btn {
            padding: 5px 20px;
            margin-top: 5px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
            color: white;
            background-color: green;
        }
        .add-btn {
            padding: 5px 20px;
            margin-top: 5px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
            color: white;
            background-color: green;
            font-size: 14opx;
        }
        .btn-primary {
            background-color: green;
        }
        .btn-danger {
            background-color: red;
        }
        .btn:hover {
            background-color: blue;
        }
        .form{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap:5px;
        }
        .add-to-btn{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:5px;
            width:100%;
        }
        .product-search{
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block block_body %}
    <h1>Product list</h1>
    <form action="{% url 'search_products' %}" method="GET" class="form">
        <input type="text" name="query" placeholder="Search products..." class="product-search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <ul>
        {% for product in products %}
        <li>
            <div class="card">
                <img class="card-img-top" src="{{ product.image }}" alt="product Image">
                <div class="card-body">
                    <h2 class="card-title">{{ product.name }}</h2>
                    <p class="card-text">Discount - 30% - {{ product.price }}</p>
                    <p class="card-text">Quantity - {{ product.quantity }}</p>
                <div class="add-to-btn">
                    <form method="post" action="{% url 'add_to_wishlist' product.id %}" >
                        {% csrf_token %}
                        <button type="submit" class="add-btn">Add to Wishlist</button>
                    </form>
                        <form method="post" action="{% url 'add_to_cart' product.id %}"> 
                            {% csrf_token %}
                            <button type="submit" class="add-btn">Add to cart</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock%}